.sugLi{border: 1px solid #cdd5e3;display: inline-block;margin: 5px 5px 0 0;position: relative;vertical-align: middle;}
.tokenize ul{position: relative;
    list-style: none;
    padding: 0 0 5px 5px;
    height: auto;
    min-height: 34px;
    cursor: text;
}
.tokenize ul li {border: 1px solid #cdd5e3;
    display: inline-block;
    margin: 5px 5px 0 0;
    position: relative;
    vertical-align: middle;}
.token{border: 1px solid #cdd5e3;
    display: inline-block;
    margin: 5px 5px 0 0;
    position: relative;
    vertical-align: middle;
    padding: 0 1.2em 0 5px;
    background-color: #eff2f7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; 
}
.dismiss{    position: absolute;
    right: 5px;
    color: #a9b9d8;
    text-decoration: none;
    cursor: pointer;}
.frmCtrl{
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}